# Data Cleaning

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('crypto_data.csv')

In [3]:
data

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol,currency_pair
0,1528502400,7691.7400,7495.7200,7627.5600,28511.04,2.180139e+08,7513.6900,direct,NaN,BTC/USD
1,1528588800,7514.0400,6661.9800,7513.7600,127797.43,8.955144e+08,6773.7200,direct,NaN,BTC/USD
2,1528675200,6913.8500,6652.8900,6773.7200,71169.64,4.827881e+08,6887.3700,direct,NaN,BTC/USD
3,1528761600,6888.3300,6462.6100,6887.4300,75997.29,5.093725e+08,6556.9400,direct,NaN,BTC/USD
4,1528848000,6623.0000,6140.6300,6556.9400,124304.17,7.970873e+08,6310.4300,direct,NaN,BTC/USD
...,...,...,...,...,...,...,...,...,...,...
20005,1700956800,0.1233,0.1192,0.1211,82671277.81,1.002969e+07,0.1200,direct,NaN,DOGE/USD
20006,1701043200,0.1207,0.1147,0.1200,87542872.50,1.022391e+07,0.1165,direct,NaN,DOGE/USD
20007,1701129600,0.1189,0.1151,0.1165,60895097.76,7.138396e+06,0.1186,direct,NaN,DOGE/USD
20008,1701216000,0.1201,0.1181,0.1186,48010752.41,5.711272e+06,0.1186,direct,NaN,DOGE/USD
20009,1701302400,0.1197,0.1179,0.1186,46020070.51,5.463147e+06,0.1183,direct,NaN,DOGE/USD

In [4]:
df = data.copy()

In [5]:
df

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol,currency_pair
0,1528502400,7691.7400,7495.7200,7627.5600,28511.04,2.180139e+08,7513.6900,direct,NaN,BTC/USD
1,1528588800,7514.0400,6661.9800,7513.7600,127797.43,8.955144e+08,6773.7200,direct,NaN,BTC/USD
2,1528675200,6913.8500,6652.8900,6773.7200,71169.64,4.827881e+08,6887.3700,direct,NaN,BTC/USD
3,1528761600,6888.3300,6462.6100,6887.4300,75997.29,5.093725e+08,6556.9400,direct,NaN,BTC/USD
4,1528848000,6623.0000,6140.6300,6556.9400,124304.17,7.970873e+08,6310.4300,direct,NaN,BTC/USD
...,...,...,...,...,...,...,...,...,...,...
20005,1700956800,0.1233,0.1192,0.1211,82671277.81,1.002969e+07,0.1200,direct,NaN,DOGE/USD
20006,1701043200,0.1207,0.1147,0.1200,87542872.50,1.022391e+07,0.1165,direct,NaN,DOGE/USD
20007,1701129600,0.1189,0.1151,0.1165,60895097.76,7.138396e+06,0.1186,direct,NaN,DOGE/USD
20008,1701216000,0.1201,0.1181,0.1186,48010752.41,5.711272e+06,0.1186,direct,NaN,DOGE/USD
20009,1701302400,0.1197,0.1179,0.1186,46020070.51,5.463147e+06,0.1183,direct,NaN,DOGE/USD

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20010 entries, 0 to 20009
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   time              20010 non-null  int64
 1   high              20010 non-null  float64
 2   low               20010 non-null  float64
 3   open              20010 non-null  float64
 4   volumefrom        20010 non-null  float64
 5   volumeto          20010 non-null  float64
 6   close             20010 non-null  float64
 7   conversionType    20010 non-null  object
 8   conversionSymbol  5481 non-null   object
 9   currency_pair     20010 non-null  object
dtypes: float64(6), int64(1), object(3)
memory usage: 1.5+ MB

# Dropping Irrelevant Columns

In [7]:
# First let us check the uniqueness of values in each columns
unique_values = df.apply(lambda x: pd.unique(x))
unique_values

time                [1528502400, 1528588800, 1528675200, 152876160...
high                [7691.74, 7514.04, 6913.85, 6888.33, 6623.0, 6...
low                 [7495.72, 6661.98, 6652.89, 6462.61, 6140.63, ...
open                [7627.56, 7513.76, 6773.72, 6887.43, 6556.94, ...
volumefrom          [28511.04, 127797.43, 71169.64, 75997.29, 1243...
volumeto            [218013881.09, 895514425.38, 482788065.15, 509...
close               [7513.69, 6773.72, 6887.37, 6556.94, 6310.43, ...
conversionType                                     [direct, multiply]
conversionSymbol                                      [nan, BTC, ETH]
currency_pair       [BTC/USD, ETH/USD, LTC/USD, XRP/USD, XMR/USD, ...
dtype: object

In [8]:
# conversionType and conversionSymbol will not be relevant to our study since we are interesting in the performance of the pairs
# not the conversion, so we will have to drop them
columns_to_drop = ['conversionType', 'conversionSymbol']
df = df.drop(columns=columns_to_drop, axis = 1)

In [9]:
df

,time,high,low,open,volumefrom,volumeto,close,currency_pair
0,1528502400,7691.7400,7495.7200,7627.5600,28511.04,2.180139e+08,7513.6900,BTC/USD
1,1528588800,7514.0400,6661.9800,7513.7600,127797.43,8.955144e+08,6773.7200,BTC/USD
2,1528675200,6913.8500,6652.8900,6773.7200,71169.64,4.827881e+08,6887.3700,BTC/USD
3,1528761600,6888.3300,6462.6100,6887.4300,75997.29,5.093725e+08,6556.9400,BTC/USD
4,1528848000,6623.0000,6140.6300,6556.9400,124304.17,7.970873e+08,6310.4300,BTC/USD
...,...,...,...,...,...,...,...,...
20005,1700956800,0.1233,0.1192,0.1211,82671277.81,1.002969e+07,0.1200,DOGE/USD
20006,1701043200,0.1207,0.1147,0.1200,87542872.50,1.022391e+07,0.1165,DOGE/USD
20007,1701129600,0.1189,0.1151,0.1165,60895097.76,7.138396e+06,0.1186,DOGE/USD
20008,1701216000,0.1201,0.1181,0.1186,48010752.41,5.711272e+06,0.1186,DOGE/USD
20009,1701302400,0.1197,0.1179,0.1186,46020070.51,5.463147e+06,0.1183,DOGE/USD

# Handling Missing Values

In [10]:
# Now let us check if they are missing values in the dataframe we have now
missing_values = df.isnull().sum()
missing_values

time             0
high             0
low              0
open             0
volumefrom       0
volumeto         0
close            0
currency_pair    0
dtype: int64

In [11]:
# So as we can see there were no missing values in aqny columns. Now we will have turn volumeto column from having those 
# unnecessary scientific notation to 2 decimal just like the volumefrom

df['volumeto'] = df['volumeto'].apply(lambda x: "{:,.2f}".format(x))

In [12]:
df

,time,high,low,open,volumefrom,volumeto,close,currency_pair
0,1528502400,7691.7400,7495.7200,7627.5600,28511.04,"218,013,881.09",7513.6900,BTC/USD
1,1528588800,7514.0400,6661.9800,7513.7600,127797.43,"895,514,425.38",6773.7200,BTC/USD
2,1528675200,6913.8500,6652.8900,6773.7200,71169.64,"482,788,065.15",6887.3700,BTC/USD
3,1528761600,6888.3300,6462.6100,6887.4300,75997.29,"509,372,466.34",6556.9400,BTC/USD
4,1528848000,6623.0000,6140.6300,6556.9400,124304.17,"797,087,281.14",6310.4300,BTC/USD
...,...,...,...,...,...,...,...,...
20005,1700956800,0.1233,0.1192,0.1211,82671277.81,"10,029,685.65",0.1200,DOGE/USD
20006,1701043200,0.1207,0.1147,0.1200,87542872.50,"10,223,906.44",0.1165,DOGE/USD
20007,1701129600,0.1189,0.1151,0.1165,60895097.76,"7,138,395.69",0.1186,DOGE/USD
20008,1701216000,0.1201,0.1181,0.1186,48010752.41,"5,711,271.70",0.1186,DOGE/USD
20009,1701302400,0.1197,0.1179,0.1186,46020070.51,"5,463,147.43",0.1183,DOGE/USD

# Checkpoint

In [13]:
#Let create a checkpoint using the .copy()
df_mod = df.copy()
df_mod

,time,high,low,open,volumefrom,volumeto,close,currency_pair
0,1528502400,7691.7400,7495.7200,7627.5600,28511.04,"218,013,881.09",7513.6900,BTC/USD
1,1528588800,7514.0400,6661.9800,7513.7600,127797.43,"895,514,425.38",6773.7200,BTC/USD
2,1528675200,6913.8500,6652.8900,6773.7200,71169.64,"482,788,065.15",6887.3700,BTC/USD
3,1528761600,6888.3300,6462.6100,6887.4300,75997.29,"509,372,466.34",6556.9400,BTC/USD
4,1528848000,6623.0000,6140.6300,6556.9400,124304.17,"797,087,281.14",6310.4300,BTC/USD
...,...,...,...,...,...,...,...,...
20005,1700956800,0.1233,0.1192,0.1211,82671277.81,"10,029,685.65",0.1200,DOGE/USD
20006,1701043200,0.1207,0.1147,0.1200,87542872.50,"10,223,906.44",0.1165,DOGE/USD
20007,1701129600,0.1189,0.1151,0.1165,60895097.76,"7,138,395.69",0.1186,DOGE/USD
20008,1701216000,0.1201,0.1181,0.1186,48010752.41,"5,711,271.70",0.1186,DOGE/USD
20009,1701302400,0.1197,0.1179,0.1186,46020070.51,"5,463,147.43",0.1183,DOGE/USD

In [14]:
# We will have to convert the time column from a unix timestamp to a human readable date
from datetime import datetime

df_mod['time'] = df_mod['time'].apply(lambda x: datetime.utcfromtimestamp(x))

In [15]:
df_mod

,time,high,low,open,volumefrom,volumeto,close,currency_pair
0,2018-06-09,7691.7400,7495.7200,7627.5600,28511.04,"218,013,881.09",7513.6900,BTC/USD
1,2018-06-10,7514.0400,6661.9800,7513.7600,127797.43,"895,514,425.38",6773.7200,BTC/USD
2,2018-06-11,6913.8500,6652.8900,6773.7200,71169.64,"482,788,065.15",6887.3700,BTC/USD
3,2018-06-12,6888.3300,6462.6100,6887.4300,75997.29,"509,372,466.34",6556.9400,BTC/USD
4,2018-06-13,6623.0000,6140.6300,6556.9400,124304.17,"797,087,281.14",6310.4300,BTC/USD
...,...,...,...,...,...,...,...,...
20005,2023-11-26,0.1233,0.1192,0.1211,82671277.81,"10,029,685.65",0.1200,DOGE/USD
20006,2023-11-27,0.1207,0.1147,0.1200,87542872.50,"10,223,906.44",0.1165,DOGE/USD
20007,2023-11-28,0.1189,0.1151,0.1165,60895097.76,"7,138,395.69",0.1186,DOGE/USD
20008,2023-11-29,0.1201,0.1181,0.1186,48010752.41,"5,711,271.70",0.1186,DOGE/USD
20009,2023-11-30,0.1197,0.1179,0.1186,46020070.51,"5,463,147.43",0.1183,DOGE/USD

In [16]:
# Converting the time from this format yyyy-mm-dd to d/m/yyyy
df_mod['time'] = df_mod['time'].dt.strftime('%d/%m/%Y')

In [17]:
df_mod

,time,high,low,open,volumefrom,volumeto,close,currency_pair
0,09/06/2018,7691.7400,7495.7200,7627.5600,28511.04,"218,013,881.09",7513.6900,BTC/USD
1,10/06/2018,7514.0400,6661.9800,7513.7600,127797.43,"895,514,425.38",6773.7200,BTC/USD
2,11/06/2018,6913.8500,6652.8900,6773.7200,71169.64,"482,788,065.15",6887.3700,BTC/USD
3,12/06/2018,6888.3300,6462.6100,6887.4300,75997.29,"509,372,466.34",6556.9400,BTC/USD
4,13/06/2018,6623.0000,6140.6300,6556.9400,124304.17,"797,087,281.14",6310.4300,BTC/USD
...,...,...,...,...,...,...,...,...
20005,26/11/2023,0.1233,0.1192,0.1211,82671277.81,"10,029,685.65",0.1200,DOGE/USD
20006,27/11/2023,0.1207,0.1147,0.1200,87542872.50,"10,223,906.44",0.1165,DOGE/USD
20007,28/11/2023,0.1189,0.1151,0.1165,60895097.76,"7,138,395.69",0.1186,DOGE/USD
20008,29/11/2023,0.1201,0.1181,0.1186,48010752.41,"5,711,271.70",0.1186,DOGE/USD
20009,30/11/2023,0.1197,0.1179,0.1186,46020070.51,"5,463,147.43",0.1183,DOGE/USD

In [18]:
# We will also have to change the column name time to Date and put other columns in a title case
new_column_names = ['Date', 'High', 'Low', 'Open', 'Volume From', 'Volume To', 'Close', 'Currency Pair']
df_mod.columns = new_column_names

In [19]:
df_mod

,Date,High,Low,Open,Volume From,Volume To,Close,Currency Pair
0,09/06/2018,7691.7400,7495.7200,7627.5600,28511.04,"218,013,881.09",7513.6900,BTC/USD
1,10/06/2018,7514.0400,6661.9800,7513.7600,127797.43,"895,514,425.38",6773.7200,BTC/USD
2,11/06/2018,6913.8500,6652.8900,6773.7200,71169.64,"482,788,065.15",6887.3700,BTC/USD
3,12/06/2018,6888.3300,6462.6100,6887.4300,75997.29,"509,372,466.34",6556.9400,BTC/USD
4,13/06/2018,6623.0000,6140.6300,6556.9400,124304.17,"797,087,281.14",6310.4300,BTC/USD
...,...,...,...,...,...,...,...,...
20005,26/11/2023,0.1233,0.1192,0.1211,82671277.81,"10,029,685.65",0.1200,DOGE/USD
20006,27/11/2023,0.1207,0.1147,0.1200,87542872.50,"10,223,906.44",0.1165,DOGE/USD
20007,28/11/2023,0.1189,0.1151,0.1165,60895097.76,"7,138,395.69",0.1186,DOGE/USD
20008,29/11/2023,0.1201,0.1181,0.1186,48010752.41,"5,711,271.70",0.1186,DOGE/USD
20009,30/11/2023,0.1197,0.1179,0.1186,46020070.51,"5,463,147.43",0.1183,DOGE/USD

In [24]:
# Save the dataframe in a csv file for exploratory analysis and visualization
df_mod.to_csv('cleaned_df.csv', index=False)